{% extends 'base.html' %}

{% load static i18n  %}

{% block title %}Ośrodek urologii czynnościowej{% endblock title %}

{% block content %}


{% include 'elements/button/contact/contact-button.html' %}
{% include 'elements/contact/contact-base.html' %}
{% include 'elements/header.html' %}


<div class="w-full h-full bg-[#94A3B8]">

<section class="frame-sizing ">


    <section class="sticky-cards z-10">
       <!-- CARD1 -->
        <div class="card text-blue-950   " id="card-1">
          
          {% trans "tekst powitalny" %}

          <div class="card-inner pt-[222px]  border-blue-950 border-2 relative" >
            <img 
              src="{% static 'images/hero3.jpg' %}" 
              alt="Tło" 
              class="absolute inset-0 w-full h-full object-center blur-sm saturate-50 -z-20"
            >

            <div class=" flex flex-col h-full ">
                

              <div class="flex flex-col xl:flex-row  justify-end">
                  <!-- left column -->
                    <div class="basis-1/2 flex items-center justify-center">
                        <img src="{% static 'images/hero3.jpg' %}" alt="" class="w-full h-full object-cover border-2 border-blue-950 shadow-md shadow-blue-950 ml-5 ">
                    </div>
                  <!-- right column -->
                    
                    <div class="basis-1/2 flex flex-col items-center justify-center">
                            <p class="w-[85%] mx-auto text-2xl font-primary bg-gray-400 rounded-md opacity-75 p-5 py-7 m-1 ">

                              {% translate 'tekst powitalny' %}
                                
                            </p>
                            <button class="frame-gradient shadow-lg shadow-blue-200 font-heureka-1 font-semibold text-xl opacity-100 text-white  hover:text-yellow-100 border-2 border-white hover:border-yellow-200 mt-10 cursor-pointer rounded-md  p-6 uppercase">{% trans "poznaj nasz zespół" %}</button>
                    </div>

                </div>
                


            </div>
            
          </div>
        </div>
       




       <!-- CARD2 -->
        <div class="card" id="card-2">
          <div class="card-inner">
            <div class="card-info">
              <p>A retro-futurist scene where nostalgia meets glitch</p>
            </div>
            <div class="card-title">
              <h1>Diagnostyka urologiczna</h1>
            </div>
            <div class="card-description">
              <p>
                An 80s-UI dreamscape: stacked windows, checkerboard floors, and a
                sunset gradient. Built to feel like a loading screen to another
                world—nostalgic, glossy, and a bit uncanny.
              </p>
            </div>
            <div class="card-img">
              <img src="./img/img2.jpg" alt="" />
            </div>
          </div>
        </div>

        <!-- CARD3 -->
        <div class="card" id="card-3">
          <div class="card-inner">
            <div class="card-info">
              <p>A kaleidoscope of folk motifs reimagined in digital form</p>
            </div>
            <div class="card-title">
              <h1>Dla kobiet</h1>
            </div>
            <div class="card-description">
              <p>
                Ornamental symmetry inspired by folk motifs and stained-glass
                glow. Designed as a seamless, tileable pattern for textiles,
                wallpapers, and rich UI backgrounds.
              </p>
            </div>
            <div class="card-img">
              <img src="./img/img3.jpg" alt="" />
            </div>
          </div>
        </div>
        
        <!-- CARD4 -->
        <div class="card" id="card-4">
            <div class="card-inner">
              <div class="card-info">
                <p>A kaleidoscope of folk motifs reimagined in digital form</p>
              </div>
              <div class="card-title">
                <h1>Dla mężczyzn</h1>
              </div>
              <div class="card-description">
                <p>
                  Ornamental symmetry inspired by folk motifs and stained-glass
                  glow. Designed as a seamless, tileable pattern for textiles,
                  wallpapers, and rich UI backgrounds.
                </p>
              </div>
              <div class="card-img">
                <img src="./img/img3.jpg" alt="" />
              </div>
            </div>
          </div>

          <!-- CARD5 -->
        <div class="card" id="card-5">
            <div class="card-inner">
              <div class="card-info">
                <p>A kaleidoscope of folk motifs reimagined in digital form</p>
              </div>
              <div class="card-title">
                <h1>Rehabilitacja</h1>
              </div>
              <div class="card-description">
                <p>
                  Ornamental symmetry inspired by folk motifs and stained-glass
                  glow. Designed as a seamless, tileable pattern for textiles,
                  wallpapers, and rich UI backgrounds.
                </p>
              </div>
              <div class="card-img">
                <img src="./img/img3.jpg" alt="" />
              </div>
            </div>
          </div>

          <!-- CARD6 -->
        
            <div class="card overflow-hidden" id="card-6">
                <div class="card-inner">
                <div class="card-info">
                    <p>A kaleidoscope of folk motifs reimagined in digital form</p>
                </div>
                <div class="card-title">
                    <h1>Gama innych badań</h1>
                </div>
                <div class="card-description">
                    <p>
                    Ornamental symmetry inspired by folk motifs and stained-glass
                    glow. Designed as a seamless, tileable pattern for textiles,
                    wallpapers, and rich UI backgrounds.
                    </p>
                </div>
                <div class="card-img">
                    <img src="./img/img3.jpg" alt="" />
                </div>
                </div>
            </div>
        
      </section>    
</section>

{% include 'elements/footer.html' %}   


</div>







    
  
    






{% endblock content %} 

{% block script %}

<script src="{% static 'js/index_animation.js' z%}"></script>


{% endblock script %}