{% extends 'base.html' %}

{% load static %}

{% block title %}Ośrodek urologii czynnościowej{% endblock title %}

{% block content %}


{% include 'elements/header.html' %}

<div class="w-full h-full bg-[#94A3B8]">

<section class="frame-sizing ">


    <section class="sticky-cards z-10">
       <!-- CARD1 -->
        <div class="card text-blue-950   " id="card-1">
          


          <div class="card-inner pt-[300px]  border-blue-950 border-2 relative" >
            <img 
    src="{% static 'images/hero3.jpg' %}" 
    alt="Tło" 
    class="absolute inset-0 w-full h-full object-cover blur-sm saturate-50 -z-20"
  >

            <div class=" flex flex-col h-full ">
                
                <div class=" flex  justify-end">
                    <div class="basis-1/2 flex items-center justify-center">
                        <img src="{% static 'images/hero3.jpg' %}" alt="" class="max-w-full max-h-full object-cover border-2 border-blue-950 shadow-md shadow-blue-950 ml-5 ">
                    </div>
                    <div class="basis-1/2 flex flex-col items-center justify-center">
                        <p class="w-[85%] mx-auto text-2xl font-primary bg-gray-400 rounded-md opacity-75 p-3 border-2 border-blue-500">

                            Lorem ipsum dolor sit amet consectetur adipisicing elit. At itaque blanditiis doloribus eos dolorem necessitatibus sunt molestiae voluptatibus excepturi maxime ad, officiis natus fuga porro autem quibusdam est, nesciunt ullam nostrum quis voluptatum, consequatur amet iure! Eveniet cupiditate omnis explicabo laboriosam distinctio perferendis illum, saepe earum, debitis magnam placeat sit.

                        </p>
                        <button class="frame-gradient shadow-lg shadow-blue-200 font-heureka-1 font-semibold text-xl opacity-100 text-white  hover:text-yellow-100 border-2 border-white hover:border-yellow-200 mt-10 cursor-pointer rounded-md  p-6 uppercase">Poznaj nasz zespół</button>
                    </div>

                </div>
                


            </div>
            
          </div>
        </div>
       
       <!-- CARD2 -->
        <div class="card" id="card-2">
          <div class="card-inner">
            <div class="card-info">
              <p>A retro-futurist scene where nostalgia meets glitch</p>
            </div>
            <div class="card-title">
              <h1>Diagnostyka urologiczna</h1>
            </div>
            <div class="card-description">
              <p>
                An 80s-UI dreamscape: stacked windows, checkerboard floors, and a
                sunset gradient. Built to feel like a loading screen to another
                world—nostalgic, glossy, and a bit uncanny.
              </p>
            </div>
            <div class="card-img">
              <img src="./img/img2.jpg" alt="" />
            </div>
          </div>
        </div>

        <!-- CARD3 -->
        <div class="card" id="card-3">
          <div class="card-inner">
            <div class="card-info">
              <p>A kaleidoscope of folk motifs reimagined in digital form</p>
            </div>
            <div class="card-title">
              <h1>Dla kobiet</h1>
            </div>
            <div class="card-description">
              <p>
                Ornamental symmetry inspired by folk motifs and stained-glass
                glow. Designed as a seamless, tileable pattern for textiles,
                wallpapers, and rich UI backgrounds.
              </p>
            </div>
            <div class="card-img">
              <img src="./img/img3.jpg" alt="" />
            </div>
          </div>
        </div>
        
        <!-- CARD4 -->
        <div class="card" id="card-4">
            <div class="card-inner">
              <div class="card-info">
                <p>A kaleidoscope of folk motifs reimagined in digital form</p>
              </div>
              <div class="card-title">
                <h1>Dla mężczyzn</h1>
              </div>
              <div class="card-description">
                <p>
                  Ornamental symmetry inspired by folk motifs and stained-glass
                  glow. Designed as a seamless, tileable pattern for textiles,
                  wallpapers, and rich UI backgrounds.
                </p>
              </div>
              <div class="card-img">
                <img src="./img/img3.jpg" alt="" />
              </div>
            </div>
          </div>

          <!-- CARD5 -->
        <div class="card" id="card-5">
            <div class="card-inner">
              <div class="card-info">
                <p>A kaleidoscope of folk motifs reimagined in digital form</p>
              </div>
              <div class="card-title">
                <h1>Rehabilitacja</h1>
              </div>
              <div class="card-description">
                <p>
                  Ornamental symmetry inspired by folk motifs and stained-glass
                  glow. Designed as a seamless, tileable pattern for textiles,
                  wallpapers, and rich UI backgrounds.
                </p>
              </div>
              <div class="card-img">
                <img src="./img/img3.jpg" alt="" />
              </div>
            </div>
          </div>

          <!-- CARD6 -->
        
            <div class="card overflow-hidden" id="card-6">
                <div class="card-inner">
                <div class="card-info">
                    <p>A kaleidoscope of folk motifs reimagined in digital form</p>
                </div>
                <div class="card-title">
                    <h1>Gama innych badań</h1>
                </div>
                <div class="card-description">
                    <p>
                    Ornamental symmetry inspired by folk motifs and stained-glass
                    glow. Designed as a seamless, tileable pattern for textiles,
                    wallpapers, and rich UI backgrounds.
                    </p>
                </div>
                <div class="card-img">
                    <img src="./img/img3.jpg" alt="" />
                </div>
                </div>
            </div>
        
      </section>    
</section>

{% include 'elements/footer.html' %}   


</div>







    
  
    






{% endblock content %} 

{% block script %}

<script src="{% static 'js/index_animation.js' %}"></script>

{% endblock script %}