{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% translate 'Jak nas znaleźć' %}{% endblock title %}



{% block content %}
{% include 'elements/button/contact/contact-button.html' %}
{% include 'elements/contact/contact-base.html' %}
{% include 'elements/header.html' %}

<section class="grid grid-cols-1 gap-x-5 gap-y-1 mt-[120px] md:mt-[180px] md:grid-cols-2 w-[95%] xl:w-[80%] mx-auto">


    
    <div class="px-7 xl:px-12 py-[60px] mt-7 col-span-2 font-primary text-lg text-justify items-center text-slate-800 rounded-xl bg-white/90 shadow-lg ring-1 ring-black/5">

        <h2 class="uppercase  font-primary flex  text-4xl justify-center md:justify-start text-center md:text-start ">{% translate 'Jak nas znaleźć' %}</h2>
        
        

    </div>
    
</section>

<section  ">

        <div class="p-3 my-5 px-8  py-auto w-[95%]  xl:w-[80%] mx-auto flex flex-col md:flex-row justify-center items-center md:items-left md:justify-left isolate rounded-xl  bg-white/90 shadow-lg ring-1 ring-black/5">

            <div class="w-full md:w-1/2 flex flex-col md:pr-5  items-center md:items-start ">

                <div class="text-lg text-justify font-primary mb-2  mt-9     text-slate-800  ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore tempore magnam veniam fuga itaque aspernatur vitae consequuntur, temporibus id quae perspiciatis odit distinctio, exercitationem nesciunt ipsam nemo, eius sit fugiat odio sapiente similique facilis. Necessitatibus at laudantium, expedita id fugiat ad iste architecto enim. </div>
                <div class="text-lg text-justify font-primary mb-2  mt-9     text-slate-800  ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore tempore magnam veniam fuga itaque aspernatur vitae consequuntur, temporibus id quae perspiciatis odit distinctio, exercitationem nesciunt ipsam nemo, eius sit fugiat odio sapiente similique facilis. Necessitatibus at laudantium, expedita id fugiat ad iste architecto enim. </div>
                <div class="text-lg text-justify font-primary mb-9  mt-9     text-slate-800  ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore tempore magnam veniam fuga itaque aspernatur vitae consequuntur, temporibus id quae perspiciatis odit distinctio, exercitationem nesciunt ipsam nemo, eius sit fugiat odio sapiente similique facilis. Necessitatibus at laudantium, expedita id fugiat ad iste architecto enim. </div>
                
            </div>

              <div class="w-full md:w-1/2  flex items-center md:items-start border-2 rounded-lg mb-9 sm:my-0  border-slate-500">

            <iframe
                    src="https://www.google.com/maps?q=52.07573,21.02400&output=embed"
                    class="w-full h-full  min-h-[450px]"
                    allowfullscreen=""
                    loading="lazy">
            </iframe>
        </div>
        
        </div>
       
      

  


    
    
    
</section>

{% include 'elements/footer.html' %}

{% endblock  %}
