{% extends 'base.html' %}

{% block title %}{% endblock title %}


{% load static i18n %}


{% block content %}
{% include 'elements/header.html' %}

<section class="grid grid-cols-1 gap-x-5 gap-y-1 pt-5  mt-[120px] md:mt-[180px]  w-[95%] xl:w-[80%] mx-auto">
    <div class="px-7 xl:px-12 py-8 mt-7  col-span-2 font-primary text-lg text-justify items-center text-slate-800 rounded-xl bg-white/90 shadow-lg ring-1 ring-black/5">
        <div class='flex'>
            <div class="w-1/2">
                <img src="{{object.main_photo.url}}" alt="" class=" aspect-square   rounded-full ring-5 hover:ring-7 shadow-lg ring-slate-600 hover:ring-green-900  border-green-500     ">
            </div>
            <div class="w-1/2 flex flex-col items-center align-middle text-center justify-center">
                <p class="mt-7 text-3xl text-center mx-auto font-bold w-[90%] ">{{object.name}}</p>
                <p class="mt-2 text-2xl text-center w-[80%] mx-auto ">{{object.subheader}}</p>
            </div>
        </div>
    </div>
    
</section>

  <section class="">

    <div class="p-3 my-5 py-auto w-[95%] xl:w-[80%] mx-auto  flex flex-col min-h-[1450px] text-slate-800  rounded-xl  bg-white/90 shadow-lg ring-1 ring-black/5">

<!-- O mnie -->
        <div class="text-xl text-slate-800">
            <h1 class="font-primary text-3xl mx-5 my-5">O mnie</h1>

           
            <div class="text-gray-700 mx-5 text-justify ">
            {{object.profile.o_mnie|safe}}
            </div>
        </div>
<div class="border-b border-slate-400 w-[75%] my-5 py-5 mx-auto"></div>


<!-- PROCEDURY -->
        <div class="text-xl text-slate-800">
            <h1 class="font-primary text-3xl mx-5 my-5">Procedury</h1>

           
            <div class="text-gray-700 mx-5 text-justify   ">
            {{object.profile.procedury_intro|safe}}
            {{object.profile.procedury|safe}}
            </div>
        </div>
<div class="border-b border-slate-400 w-[75%] my-5 py-5 mx-auto"></div>




 <!-- REKOMENDACJE -->
 
 {% if object.profile.rekomendacja.all|length > 0 %}
 <h1 class="font-primary text-3xl mx-5 my-5">Rekomendacje</h1>
 
<div class="cnt  items-center px-[25px]" ">
  <div class=" text-xl mt-9 my-1">
    {{ object.profile.rekomendacje_intro|safe }}
  </div>  

  <div class="carousel relative w-full overflow-hidden">
    <!-- Track -->
    <div class="carousel-track flex transition-transform duration-500 ease-in-out">
      {% for p in object.profile.rekomendacja.all %}
        <div class="w-full flex-shrink-0 flex items-center justify-center h-[430px] bg-white text-gray-700">
          <div class="flex flex-col mx-auto w-4/5 h-full">
            <a href="{{p.link}}" target="_blank" class="flex mt-3 h-3/8">
              

                <div class="w-3/4 flex flex-col text-right justify-end pr-3">
                  <h2 class="text-2xl">{{ p.name }}</h2>
                  <h3 class="text-lg text-gray-700">{{ p.desc1 }}</h3>
                  <h3 class="text-md text-gray-600">{{ p.desc2 }}</h3>
                </div>
                <div class="w-1/4 flex items-right align-center">
                  <img src="{{ p.image.url }}" class="aspect-square justify-center rounded-md" alt="">
                </div>
              </a>
            
            <div class="relative my-5 mt-5 h-full w-[95%] rounded-md px-3 text-justify overflow-wrap bg-slate-100 text-slate-900 text-lg">
              &nbsp;&nbsp;&nbsp;&nbsp;{{ p.rekomendacja_content|safe }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Strzałki -->
    <button type="button" class="carousel-prev absolute left-0 top-1/2 -translate-y-1/2  text-6xl ml-1 text-slate-300 hover:text-gray-600">
      <i class="ri-arrow-left-circle-line"></i>
    </button>
    <button type="button" class="carousel-next absolute right-0 top-1/2 -translate-y-1/2 text-6xl mr-1 text-white hover:text-gray-600">
      <i class="ri-arrow-right-circle-line"></i>
    </button>
  </div>
</div>
<div class="border-b border-slate-400 w-[75%] my-5 py-5 mx-auto"></div>

{% endif %}

<!-- Kalendarium -->
 {% if object.profile.kalendarium.all|length > 0 %}
        <div class="text-xl text-slate-800">
            <h1 class="font-primary text-3xl mx-5 my-5">Kalendarium</h1>

            <div class="relative">
            <div class="absolute left-1/2 top-0 bottom-0 w-1 bg-sky-900 transform -translate-x-1/2"></div>
            <div class="space-y-2 mx-5 ">
              <!-- Item 1 (Left) -->

              {% for j in object.profile.kalendarium.all %}
              <div class="relative flex {% if forloop.counter|divisibleby:2 %} items-start justify-start {% else %} items-start justify-end {% endif %}">
                  <div class="w-1/2 {% if forloop.counter|divisibleby:2 %} pr-5 text-right {% else %} pl-5 text-left {% endif %}">
                      <div class="bg-white px-3 py-2 rounded-lg shadow-md shadow-slate-800">
                          <h3 class="text-lg font-semibold text-gray-800">{% if j.month %}{{j.get_month_display}}{% endif %}&nbsp;{{j.year}}</h3>
                          <p class="text-gray-600">{{j.content|safe}}</p>
                      </div>
                  </div>
                  <div class="absolute left-1/2 w-6 h-6 bg-slate-800 rounded-full mt-1 -translate-x-1/2"></div>
              </div>
              
              {% endfor %}              
             
          </div>
          </div>
        </div>

        <div class="border-b border-slate-400 w-[75%] my-5 py-5 mx-auto"></div>
 {% endif  %}

 <!-- GALERIA -->
 <h1 class="font-primary text-3xl mx-5 my-5">Galeria</h1>


 <div class="text-slate-800 text-3xl   xl:block  xl:w-[110%]">
    <div class="grid gallery grid-cols-3 gap-2 w-full h-auto ">
        
        <div class="gs_el main-img col-span-2 row-span-2 rounded-md aspect-square overflow-hidden">
            <img src="{{ object.profile.gallery.first.image.url }}" class="object-cover w-full h-full" alt="">
        </div>
          
        {% for image in object.profile.gallery.all|slice:"1:" %}
        <div class="gs_el aspect-square overflow-hidden rounded-md">
            <img src="{{ image.image.url }}" class="w-full h-full object-cover" alt="">
        </div>
        {% endfor %}
    </div>
  </div>

<div class="border-b border-slate-400 w-[75%] my-5 py-5 mx-auto"></div>



<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.carousel').forEach(carousel => {
      const track = carousel.querySelector('.carousel-track');
      const slides = track.children;
      const prevBtn = carousel.querySelector('.carousel-prev');
      const nextBtn = carousel.querySelector('.carousel-next');
      const totalSlides = slides.length;
      let index = 0;
      let autoPlayTimer;
  
      function updateSlidePosition() {
        track.style.transition = 'transform 0.5s ease-in-out'; 
        track.style.transform = `translateX(-${index * 100}%)`;
      }
  
      function nextSlide() {
        index = (index + 1) % totalSlides;
        updateSlidePosition();
      }
  
      function prevSlide() {
        index = (index - 1 + totalSlides) % totalSlides;
        updateSlidePosition();
      }
  
      nextBtn.addEventListener('click', () => {
        nextSlide();
        restartAutoplay();
      });
  
      prevBtn.addEventListener('click', () => {
        prevSlide();
        restartAutoplay();
      });
  
      function startAutoplay() {
        // zmieniamy slajd dokładnie co 9000 ms
        autoPlayTimer = setInterval(nextSlide, 5000);
      }
  
      function stopAutoplay() {
        clearInterval(autoPlayTimer);
      }
  
      function restartAutoplay() {
        stopAutoplay();
        startAutoplay();
      }
  
      // zatrzymanie autoplay przy najechaniu kursorem
      carousel.addEventListener('mouseenter', stopAutoplay);
      carousel.addEventListener('mouseleave', startAutoplay);
  
      // ustaw pierwszy slajd natychmiast
      index = 0;
      updateSlidePosition();
      startAutoplay();
    });
  });
  </script>





    </div>
        



    </div>


    

    
    
    
</section>


{% include 'elements/footer.html' %}



    <script src="{% static 'js/modal_gallery.js' %}"></script> 

{% endblock  %}
