{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block content %}

{% include 'elements/button/contact/contact-button.html' %}
{% include 'elements/contact/contact-base.html' %}
{% include 'elements/header.html' %}


{% if query %}





<section class="grid grid-cols-1    gap-x-5 gap-y-1 md:grid-cols-2 w-[95%] xl:w-[80%] mx-auto mt-[120px] md:mt-[180px]">
    <div class="px-7 xl:px-12 py-[60px] mt-7  col-span-2 font-primary text-lg text-justify items-center text-slate-800 rounded-xl bg-white/90 shadow-lg ring-1 ring-black/5">
        <!-- <h2 class="uppercase pb-9 font-primary flex  text-4xl justify-center md:justify-start ">{% translate 'Wszystkie badania' %}</h2> -->
        
        <p class="uppercase pb-3 font-primary text-3xl   ">{% translate 'Poniżej lista wyników dla zapytania ' %} '{{query}}'</p>
        <div class="text-lg font-primary flexy xl:w-[55%]   ">{% translate 'Należy pamiętać, że nasza wyszukiwarka znajduje wyniki, zarówno dla nazwy badania, objawów choroby, przebiegu badania jak i nazwiska lekrza, dlatego wszystkie poniższe wyniki mogą być dla Państwa istotne.' %}</div>
    </div>
    
</section>

{% if object_list %}

<section class="grid grid-cols-1 gap-x-5 gap-y-1 py-5  w-[95%] xl:w-[80%] mx-auto">

    {% for i in object_list %}    
    
  
    
    <details id="bu_kons_1" class="px-7 xl:px-12 mb-1 py-[35px] transition  font-primary text-xl  text-justify    items-center   text-slate-800   rounded-xl  bg-white/90 shadow-lg ring-1 ring-black/5">
        
        <!-- tile header -->
            <summary class="flex justify-between outline-none" >
                <div class="flex">
                    
                    <i class="ri-stethoscope-line text-3xl mr-2"></i>
                    <h2 class="text-2xl uppercase">{{i.nazwa}}</h2>
                    
                </div>
                <i class="ri-arrow-down-s-line text-4xl  "></i>
                
                
            </summary>

        <!-- tile innards     -->
            <div id="bu_kons_1_target" class=" grid grid-cols-1 xl:grid-cols-2">
        
        <!-- tile innards - left side -->
        <div class="px-1 py-[55px] my-5 order-2 xl:order-1  md:block font-primary text-lg text-justify mr-7 pr-7 xl:border-r-2 xl:border-slate-200  items-center   text-slate-800   ">
                    {% if i.opisy %}
                    <!-- opis -->
                    
                    {% if i.opis %}
                    
                    <div class="border-b border-slate-400 my-9 w-[35%]    mx-auto"></div>
                    
                    <div>
                        
                        {{ i.opis|safe}}
                        
                        
                    </div>

                    {% endif %}

                    {% if i.polega %}
                    
                    <div class="border-b border-slate-400 my-9 w-[35%]   mx-auto"></div>
                    
                    <h2 class="font-semibold text-xl py-3 mb-3">
                        Na czym polega {% if i.typ_usługi == 'badanie' %}badanie{% elif i.typ_usługi == 'zabieg' %}zabieg{% elif i.typ_usługi == 'procedura' %}procedura{% endif %}
                         
                    
                    </h2>
                    
                    <div class="">
                        {{i.polega|safe}}                        
                        
                    </div>
                    {% endif %}

                    {% if i.przebieg %}
                    
                    <div class="border-b border-slate-400 my-9 w-[35%]   mx-auto"></div>
                    
                    
                    <h2 class="font-semibold text-xl py-3 mb-3">
                        Jak przebiega {% if i.typ_usługi == 'badanie' %}badanie{% elif i.typ_usługi == 'zabieg' %}zabieg{% elif i.typ_usługi == 'procedura' %}procedura{% endif %}
                     
                    
                    </h2>
                    
                    
                    <div class="">
                        {{ i.przebieg|safe}}
                        
                        
                    </div>

                    {% endif %}

                     {% if i.wskazania %}
                    <div class="border-b border-slate-400 my-9 w-[35%]   mx-auto"></div>
                    
                    <h2 class="font-semibold text-xl py-3 mb-3"> 

                        
                        
                        Wskazania {% if i.typ_usługi == 'badanie' %}do badania{% elif i.typ_usługi == 'zabieg' %}do zabiegu{% else %}{% endif %}
                    </h2>
                    
                    <div class="px-9">
                        <ul class="list-disc">
                            {% for line in i.wskazania.splitlines %}
                              <li class="my-1">{{ line }}</li>
                            {% endfor %}
                        </ul>
                        
                    </div>
                    
                    <div class="border-b border-slate-400 my-9 w-[35%]    mx-auto"></div>
                    {% endif %} 
                {% endif %}
        </div>
                
        <!-- tile innards - rigth side -->
        
                <div class="px-1 py-[55px] my-5 order-1 xl:order-2  font-primary text-lg text-justify border-b-2 border-slate-200  md:border-none   items-center   text-slate-800   ">
                    <h2 class="font-primary flex  text-xl justify-start">{{i.nazwa}}</h2>
                    <h2 class="font-primary flex  text-xl justify-start">{% translate 'w ośrodku' %} <span class="flex text-2xl mx-1 uppercase font-heureka"><img src="{% static 'img/heureka_logo_3.png' %}" class="size-7 mr-1 " alt="">heureka</span></h2>
                    
                    <div class="border-b border-slate-400 my-9 w-[35%]   mx-auto"></div>
                    <section class="my-3 font-primary flex flex-col">
                        
                        
                        
                        <!-- czas oczekiwania -->
                        <div class="grid grid-cols-2">
                            
                            <div class="block w-[85%]  sm:text-lg xl:text-xl">
                                <p>

                                    Czas oczekiwania {% if i.typ_usługi == 'badanie' %}na badanie{% elif i.typ_usługi == 'zabieg' %}na zabieg{% elif i.typ_usługi == 'konsultacja' %}na konsultację{% endif %}
                                    
                                </p>
                                <p class="text-sm">({% translate 'liczony od dnia zapisu' %})</p>
                                
                            </div>
                            <div class="text-end  text-xl">{% translate 'ok.' %} {{i.czas_oczekiwania}} {% translate 'dni' %}</div>
                            
                        </div>
                        
                        {% if i.czas_trwania %}
                        <div class="border-b border-slate-400 my-9 w-[35%]   mx-auto"></div>
                        
                        <!-- czas badania -->
                        <div class="grid grid-cols-2">
                            
                            <div class="sm:text-lg xl:text-xl ">
                                
                                Czas trwania {% if i.typ_usługi == 'badanie' %}badania{% elif i.typ_usługi == 'zabieg' %}zabiegu{% endif %}
                                

                            </div>
                            <div class="text-end  text-xl">{% translate 'ok.' %} {{i.czas_badania}} {% translate 'minut' %} </div>
                            
                        </div>

                        {% endif %}
                        
                        <div class="border-b border-slate-400 my-9 w-[35%]   mx-auto"></div>
                        <!-- Koszt -->
                        <div class="grid grid-cols-2">
                            
                            <div class="sm:text-lg xl:text-xl ">
                                {% translate 'Koszt' %}
                                
                            </div>
                            <div class="text-end   text-xl">{% if i.cena_od %}od {% endif %}{{i.koszt}} zł</div>
                            
                        </div>
                        {% if i.lekarz %}
                        <div class="border-b border-slate-400 my-9 w-[35%]   mx-auto"></div>
                        
                        
                        <div class="grid grid-cols-2">
                            
                            <div class="sm:text-lg xl:text-xl ">
                                {% if i.typ_usługi == 'konsultacja' or  i.typ_usługi == 'procedura' %}Lekarz{% elif i.typ_usługi == 'zabieg' %}Zabieg wykonuje{% else %}{% translate 'Badanie wykonuje' %}{% endif %} 

                            </div>
                            <div class="text-end  text-xl">{{i.lekarz}}</div>
                            
                        </div>
                        {% endif  %}


                        {% if i.dokumenty %}

                        <!-- downloads -->

                        <div class="border-b border-slate-400 my-9 w-[35%]   mx-auto"></div>

                


                        <div class="grid grid-cols-2">
        
                            <div class="mb-5 justify-start w-[75%] sm:text-lg xl:text-xl ">
                               Instruktaż przygotowania do {% if i.typ_usługi == 'zabieg' %}zabiegu{% elif i.typ_usługi == 'procedury' %}procedury{% else %}badania{% endif %} (plik PDF)
        
                            </div>
                            <div class="flex mb-3 justify-items-end justify-center items-center font-tertiary   font-semibold text-lg bg-linear-to-tr from-sky-900 to-slate-800 p-5  text-gray-100 rounded-lg">
                                {% if LANGUAGE_CODE == "en" %}
        
                                <a href="{{i.pdf_en.url }}" target="_blank" class="">
        
                                
                                
                                {% elif LANGUAGE_CODE == "uk" %}
                                
        
                                <a href="{{i.pdf_uk.url }}" target="_blank" class="">
        
        
                                {% else  %}
                                
                                    <a href="{{i.pdf_pl.url }}" target="_blank" class="">
                                {% endif %}
                                    <i class="ri-file-pdf-2-line text-3xl mr-2"></i>
        
                            </a>
                        </div>
        
                        </div>

                        {% endif %}

                        
                {% if i.after %}
                <div class="border-b border-slate-400 my-9 w-[35%]   mx-auto"></div>


                <h2 class="py-3  mb-3 sm:text-lg xl:text-xl ">
                    
                    Po {% if i.typ_usługi == 'zabieg' %}zabiegu{% elif i.typ_usługi == 'procedura' %}zakończeniu procedury{% else %}badaniu{% endif %}  pacjent otrzymuje:
                

                </h2>

            <div class="px-9">
                <ul class="list-disc">
                    {% for line in i.after.splitlines %}
                      <li class="my-1">{{ line }}</li>
                    {% endfor %}
                </ul>
            </div>


                {% endif %}

                <div class="border-b border-slate-400 my-9 w-[35%]   mx-auto"></div>


                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                </div>
            </div>
            
        </details>
        {% empty %}

        <section class="grid grid-cols-1 pt-[220px]  gap-x-5 gap-y-1 md:grid-cols-2 w-[95%] xl:w-[80%] mx-auto">
            <div class="px-7 xl:px-12 py-[60px] mt-7  col-span-2 font-primary text-lg text-justify items-center text-slate-800 rounded-xl bg-white/90 shadow-lg ring-1 ring-black/5">
                <h2 class="uppercase pb-9 font-primary flex  text-4xl justify-center md:justify-start ">Brak wyników dla tego zapytania</h2>
                
            </div>
            
        </section>


            
    {% endfor %}
        
        
        
        
        
        
        
        
        
        
        
</section>

{% else %}

<section class="grid grid-cols-1 pb-7   gap-x-5 gap-y-1 md:grid-cols-2 w-[95%] xl:w-[80%] mx-auto">
    <div class="px-7 xl:px-12 py-[60px] mt-7  col-span-2 font-primary text-lg text-justify items-center text-slate-800 rounded-xl bg-white/90 shadow-lg ring-1 ring-black/5">
        <h2 class="uppercase pb-9 font-primary flex  text-4xl justify-center text-center  ">{% trans 'Brak wyników'%}</h2>
        
    </div>
    
</section>


{% endif %}

{% else %}

<section class="grid grid-cols-1 pt-[220px]  gap-x-5 gap-y-1 md:grid-cols-2 w-[95%] xl:w-[80%] mx-auto">
    <div class="px-7 xl:px-12 py-[60px] mt-7  col-span-2 font-primary text-lg text-justify items-center text-slate-800 rounded-xl bg-white/90 shadow-lg ring-1 ring-black/5">
        <!-- <h2 class="uppercase pb-9 font-primary flex  text-4xl justify-center md:justify-start ">{% translate 'Wszystkie badania' %}</h2> -->
        
        <p class="uppercase pb-1 font-primary text-2xl   ">{% translate 'Poniżej lista wszystkich badań dostępnych' %}</p>
        <p class="text-2xl uppercase font-primary flex  ">{% translate 'w ośrodku' %} <span class="flex text-3xl mx-1 uppercase font-heureka"><img src="{% static 'img/heureka_logo_3.png' %}" class="size-7 mr-1 " alt="">heureka</span> </p>
        <p class="text-md font-primary  ">{% translate '(kliknij na nazwę badania, żeby poznać szczegóły)' %}</p>
    </div>
    
</section>

{% if object_list %}

<section class="grid grid-cols-1 gap-x-5 gap-y-1 py-5  w-[95%] xl:w-[80%] mx-auto">


    

    {% for i in object_list %}
    
    
  
    
    <details id="bu_kons_1" class="px-7 xl:px-12 mb-1 py-[35px] transition  font-primary text-xl  text-justify    items-center   text-slate-800   rounded-xl  bg-white/90 shadow-lg ring-1 ring-black/5">
        
        <!-- tile header -->
            <summary class="flex justify-between outline-none" >
                <div class="flex">
                    
                    <i class="ri-stethoscope-line text-3xl mr-2"></i>
                    <h2 class="text-2xl uppercase">{{i.nazwa}}</h2>
                    
                </div>
                <i class="ri-arrow-down-s-line text-4xl  "></i>
                
                
            </summary>

        <!-- tile innards     -->
            <div id="bu_kons_1_target" class=" grid grid-cols-1 xl:grid-cols-2">
        
        <!-- tile innards - left side -->
        <div class="px-1 py-[55px] my-5 order-2 xl:order-1  md:block font-primary text-lg text-justify mr-7 pr-7 xl:border-r-2 xl:border-slate-200  items-center   text-slate-800   ">
                    {% if i.opisy %}
                    <!-- opis -->
                    
                    {% if i.opis %}
                    
                    <div class="border-b border-slate-400 my-9 w-[35%]    mx-auto"></div>
                    
                    <div>
                        
                        {{ i.opis}}
                        
                        
                    </div>

                    {% endif %}

                    {% if i.polega %}
                    
                    <div class="border-b border-slate-400 my-9 w-[35%]   mx-auto"></div>
                    
                    <h2 class="font-semibold text-xl py-3 mb-3">{% trans 'Na czym polega badanie' %} </h2>
                    
                    <div class="">
                        {{i.polega}}                        
                        
                    </div>
                    {% endif %}

                    {% if i.przebieg %}
                    
                    <div class="border-b border-slate-400 my-9 w-[35%]   mx-auto"></div>
                    
                    
                    <h2 class="font-semibold text-xl py-3 mb-3">{% trans 'Jak przebiega badanie' %} </h2>
                    
                    
                    <div class="">
                        {{ i.przebieg}}
                        
                        
                    </div>

                    {% endif %}

                     {% if i.wskazania %}
                    <div class="border-b border-slate-400 my-9 w-[35%]   mx-auto"></div>
                    
                    <h2 class="font-semibold py-3 text-xl mb-3">{% trans 'Wskazania do badania' %}</h2>
                    
                    <div class="px-9">
                        <ul class="list-disc">
                            {% for line in i.wskazania.splitlines %}
                              <li class="my-1">{{ line }}</li>
                            {% endfor %}
                        </ul>
                        
                    </div>
                    
                    <div class="border-b border-slate-400 my-9 w-[35%]    mx-auto"></div>
                    {% endif %} 
                {% endif %}
        </div>
                
        <!-- tile innards - rigth side -->
        
                <div class="px-1 py-[55px] my-5 order-1 xl:order-2  font-primary text-lg text-justify border-b-2 border-slate-200  md:border-none   items-center   text-slate-800   ">
                    <h2 class="font-primary flex  text-xl justify-start">{{i.nazwa}}</h2>
                    <h2 class="font-primary flex  text-xl justify-start">{% translate 'w klinice' %} <span class="flex text-2xl mx-1 uppercase font-heureka"><img src="{% static 'img/heureka_logo_3.png' %}" class="size-7 mr-1 " alt="">heureka</span></h2>
                    
                    <div class="border-b border-slate-400 my-9 w-[35%]   mx-auto"></div>
                    <section class="my-3 font-primary flex flex-col">
                        
                        
                        
                        <!-- czas oczekiwania -->
                        <div class="grid grid-cols-2">
                            
                            <div class="block w-[85%]  sm:text-lg xl:text-xl">
                                <p>
                                    {% translate 'Czas oczekiwania na badanie' %} 
                                    
                                </p>
                                <p class="text-sm">({% translate 'liczony od dnia zapisu' %})</p>
                                
                            </div>
                            <div class="text-end  text-xl">{% translate 'ok.' %} {{i.czas_oczekiwania}} {% translate 'dni' %}</div>
                            
                        </div>
                        
                        <div class="border-b border-slate-400 my-9 w-[35%]   mx-auto"></div>
                        
                        <!-- czas badania -->
                        <div class="grid grid-cols-2">
                            
                            <div class="sm:text-lg xl:text-xl ">
                                {% translate 'Czas trwania badania' %}  
                                
                            </div>
                            <div class="text-end  text-xl">{% translate 'ok.' %} {{i.czas_badania}} {% translate 'minut' %} </div>
                            
                        </div>
                        
                        <div class="border-b border-slate-400 my-9 w-[35%]   mx-auto"></div>
                        <!-- Koszt -->
                        <div class="grid grid-cols-2">
                            
                            <div class="sm:text-lg xl:text-xl ">
                                {% translate 'Koszt' %}
                                
                            </div>
                            <div class="text-end   text-xl">{{i.koszt}} zł</div>
                            
                        </div>
                        
                        <div class="border-b border-slate-400 my-9 w-[35%]   mx-auto"></div>
                        
                        
                        <div class="grid grid-cols-2">
                            
                            <div class="sm:text-lg xl:text-xl ">
                                {% translate 'Badanie wykonuje' %} 
                                
                            </div>
                            <div class="text-end  text-xl">{{i.lekarz}}</div>
                            
                        </div>

                        {% if i.dokumenty %}

                        <!-- downloads -->

                        <div class="border-b border-slate-400 my-9 w-[35%]   mx-auto"></div>

                


                        <div class="grid grid-cols-2">
        
                            <div class="mb-5 justify-start w-[75%] sm:text-lg xl:text-xl ">
                               {% translate  'Instruktaż przygotowania do badania (plik PDF)' %}
        
                            </div>
                            <div class="flex mb-3 justify-items-end justify-center items-center font-tertiary   font-semibold text-lg bg-linear-to-tr from-sky-900 to-slate-800 p-5  text-gray-100 rounded-lg">
                                {% if LANGUAGE_CODE == "en" %}
        
                                <a href="{{i.pdf_en.url }}" target="_blank" class="">
        
                                
                                
                                {% elif LANGUAGE_CODE == "uk" %}
                                
        
                                <a href="{{i.pdf_uk.url }}" target="_blank" class="">
        
        
                                {% else  %}
                                
                                    <a href="{{i.pdf_pl.url }}" target="_blank" class="">
                                {% endif %}
                                    <i class="ri-file-pdf-2-line text-3xl mr-2"></i>
        
                            </a>
                        </div>
        
                        </div>

                        {% endif %}

                        
                {% if i.after %}
                <div class="border-b border-slate-400 my-9 w-[35%]   mx-auto"></div>


                <h2 class="py-3  mb-3 sm:text-lg xl:text-xl ">{% translate 'Po badaniu pacjent otrzymuje:' %}</h2>

            <div class="px-9">
                <ul class="list-disc">
                    {% for line in i.after.splitlines %}
                      <li class="my-1">{{ line }}</li>
                    {% endfor %}
                </ul>
            </div>


                {% endif %}

                <div class="border-b border-slate-400 my-9 w-[35%]   mx-auto"></div>


                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                </div>
            </div>
            
        </details>
        
        {% endfor %}  
        
    </section>
{% else %}
 
<!-- WSZYSTKIE - BRAK WYNIKÓW -->

        <section class="grid grid-cols-1 pb-7   gap-x-5 gap-y-1 md:grid-cols-2 w-[95%] xl:w-[80%] mx-auto">
            <div class="px-7 xl:px-12 py-[60px] mt-7  col-span-2 font-primary text-lg text-justify items-center text-slate-800 rounded-xl bg-white/90 shadow-lg ring-1 ring-black/5">
                <h2 class="uppercase pb-9 font-primary flex  text-4xl justify-center text-center  ">{% trans 'Brak wyników'%}</h2>
                
            </div>
            
        </section>

{% endif %}
    
{% endif %}

{% include 'elements/footer.html' %}   

{% endblock content %}

