{% extends 'base.html' %}

{% load i18n %}

{% block title %}Zespół{% endblock title %}



{% block content %}
{% include 'elements/header.html' %}

<section class="grid grid-cols-1 gap-x-5 gap-y-1 md:grid-cols-2 w-[95%] xl:w-[80%] mx-auto mt-[210px]">
    <div class="px-7 xl:px-12 py-[60px] mt-7  col-span-2 font-primary text-lg text-justify items-center text-slate-800 rounded-xl bg-white/90 shadow-lg ring-1 ring-black/5">
        <h2 class="uppercase pb-9 font-primary flex  text-4xl justify-center md:justify-start ">{% translate 'Zespół' %}</h2>
        
        <div class="text-md font-primary mb-5  ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore tempore magnam veniam fuga itaque aspernatur vitae consequuntur, temporibus id quae perspiciatis odit distinctio, exercitationem nesciunt ipsam nemo, eius sit fugiat odio sapiente similique facilis. Necessitatibus at laudantium, expedita id fugiat ad iste architecto enim. </div>
        
    </div>
    
  </section>

<section class="grid grid cols-1">

    <div class="p-3 my-5 py-auto w-[95%] xl:w-[80%] mx-auto flex justify-center items-center isolate rounded-xl h-[540px] bg-white/90 shadow-lg ring-1 ring-black/5">

        <h1 class="text-6xl font-primary text-center text-gray-600 items-center align-middle">{% translate 'Wkrótce...' %}</h1>

    </div>

    
    
    
</section>

{% include 'elements/footer.html' %}

{% endblock %}
