{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Heureka | {% block title %}{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body>
        

            {% block content %}
            {% endblock content %}
            
        


    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/lenis.min.js' %}"></script>
    <script src="{% static 'js/gsap.min.js' %}"></script>
    <script src="{% static 'js/ScrollTrigger.min.js' %}"></script>

    <!-- custom script -->
    <script src="{% static 'js/header-hider.js' %}"></script>
    <script src="{% static 'js/header-shrink.js' %}"></script>

    {% block script %}
    {% endblock script %}


</body>
</html>
