{% load static  %}
{% load i18n  %}

<div
  id="small_nav"
  class="sm:hidden frame-gradient fixed 
         top-0 
          -translate-x-[100%]
         z-30 box-border
         border-2 border-gray-100 rounded-b-lg
         w-[99%] p-4 
         text-center"
  style="opacity:0; visibility:hidden;"
>

<!-- MOBILE NAVBAR BUTTON -->
    <div id="navbarClose"   class="sm:hidden z-30 cursor-pointer h-10 w-10 border-gray-150 border-2 flex items-center text-center justify-center rounded-md fixed top-5 right-3 ">
        <i class="ri-close-large-line z-30 cursor-pointer text-center text-gray-150 text-2xl p-3 "></i>
    </div>

<!-- HEADER -->

 <div class="    relative ">
<!-- LOGO & NAME -->
        <div class=" mr-8 md:mr-0">
            <div class=" flex gap-2  justify-center sm:justify-start items-center">
                <a href="{% url 'index' %}" class="flex gap-2 relative group justify-center md:justify-start items-center">
                    <img src="{% static 'icons/heureka_logo_3.png' %}" alt="" class="logo z-20 size-10 xl:size-14 mb-2 justify-center drop-shadow-orange-500 shadow-2xl">
                    <h1 class="   font-heureka-2 text-5xl xl:text-6xl text-gray-50  text-shadow-2xs text-shadow-green-700 uppercase z-20">heureka</h1>
                    
                   
                    
                   
                    <!-- light blob -->
                    <div  class=" rounded-full absolute -left-1  bg-pink-100 blur-xl z-1 hover:delay-150 transition duration-300 ease-in-out flex-none w-[55px] h-[55px]"></div>
                   <div  class=" rounded-full absolute -left-1  bg-sky-500 blur-xl z-1 hidden  group-hover:inline  flex-none w-[75px] h-[55px]"></div>
                    </a>
            </div>

           

        <!-- sub name -->
            <div class=" sample-transition">
                <h3 id="roo" class=" font-tertiary text-gray-200 pt-2 text-xl text-center md:text-left">{% trans 'Ośrodek urologii czynnościowej' %}</h3>
                <h3 id="roo" class="text-gray-100 font-primary  text-2xl  text-center md:text-left">{% trans 'Pawła Szaleckiego' %}</h3>
            </div>
        </div>
    </div> 

  <!-- MENU LINKS -->
  <div class="text-gray-100 text-2xl font-primary mt-12 py-3 group">
    <a href="{% url 'badanie urodynamiczne' %}" class="group-hover:text-orange-300">
      {% trans 'Badanie urodynamiczne' %}
    </a>
  </div>
  <p class="border-b border-1 border-gray-100 w-[75%] mx-auto"></p>

  <div class="text-gray-100 text-2xl font-primary py-3 group">
    <a href="{% url 'procedury urologiczne' %}" class="group-hover:text-orange-300">
      {% trans 'Procedury urologiczne' %}
    </a>
  </div>
  <p class="border-b border-1 border-gray-100 w-[75%] mx-auto"></p>

  <div class="text-gray-100 text-2xl font-primary py-3 group">
    <a href="{% url 'pozostałe procedury' %}" class="group-hover:text-orange-300">
      {% trans 'Pozostałe procedury' %}
    </a>
  </div>
  <p class="border-b border-1 border-gray-100 w-[75%] mx-auto"></p>

  <div class="text-gray-100 text-2xl font-primary py-3 group">
    <a href="{% url 'strefa pacjenta' %}" class="group-hover:text-orange-300">
      {% trans 'Strefa pacjenta' %}
    </a>
  </div>
  <p class="border-b border-1 border-gray-100 w-[75%] mx-auto"></p>

  <div class="text-gray-100 text-2xl font-primary py-3 group">
    <a href="{% url 'badania kliniczne' %}" class="group-hover:text-orange-300">
      {% trans 'Badania kliniczne' %}
    </a>
  </div>
  <p class="border-b border-1 border-gray-100 w-[75%] mx-auto"></p>

  <div class="text-gray-100 text-2xl font-primary py-3 group">
    <a href="{% url 'kontakt' %}" class="group-hover:text-orange-300">
      {% trans 'Kontakt' %}
    </a>
  </div>
  <p class="border-b border-1 border-gray-100 w-[75%] mx-auto"></p>

  <!-- LANGUAGE FLAGS -->
  <div class="flex mx-auto w-[75%] items-center justify-center py-3 gap-3">
    
    <!-- LANGUAGE 1 - PL -->
    <form action="{% url 'set_language' %}" hx-post="{% url 'set_language' %}" hx-target="body" hx-redirect="true" hx-swap="outerHTML transition:true" hx-push-url="true">
      {% csrf_token %}
      <input type="hidden" name="language" value="pl">
      <button type="submit" class="bg-transparent border-none cursor-pointer">
        <img src="{% static 'icons/flag_round_pl.png' %}" alt="PL" class="w-11 h-11 rounded-full hover:scale-110 transition-all">
      </button>
    </form>

    <!-- LANGUAGE 2 - EN -->
    <form action="{% url 'set_language' %}" hx-post="{% url 'set_language' %}" hx-target="body" hx-redirect="true" hx-swap="outerHTML transition:true" hx-push-url="true">
      {% csrf_token %}
      <input type="hidden" name="language" value="en">
      <button type="submit" class="bg-transparent border-none cursor-pointer">
        <img src="{% static 'icons/flag_round_gb.png' %}" alt="EN" class="w-11 h-11 rounded-full hover:scale-110 transition-all">
      </button>
    </form>

    <!-- LANGUAGE 3 - UK -->
    <form action="{% url 'set_language' %}" hx-post="{% url 'set_language' %}" hx-target="body" hx-redirect="true" hx-swap="outerHTML transition:true" hx-push-url="true">
      {% csrf_token %}
      <input type="hidden" name="language" value="uk">
      <button type="submit" class="bg-transparent border-none cursor-pointer">
        <img src="{% static 'icons/flag_round_uk.png' %}" alt="UK" class="w-11 h-11 rounded-full hover:scale-110 transition-all">
      </button>
    </form>

  </div>
  <p class="border-b border-1 border-gray-100 w-[75%] mx-auto"></p>

  <!-- SEARCHBAR -->
  <div class="font-primary flex w-full justify-center pt-3 pb-9">
    <div class="group w-[70%]">
      <form method="get" action="{% url 'wyszukaj' %}" class="w-full mx-auto">
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="relative">
          <input type="search" name="query" value="" id="default-search" 
                 class="block w-full p-4 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                 required />
          <button type="submit"
                  class="text-white absolute end-2.5 bottom-2.5 bg-green-800 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-green-700 dark:hover:bg-green-800 dark:focus:ring-white">
            <i class="ri-search-line"></i>&nbsp;&nbsp;{% translate 'Wyszukaj' %}
          </button>
        </div>
      </form>
    </div>
  </div>

</div>
