{% load static  %}
{% load i18n  %}

<div
  id="small_nav"
  class="sm:hidden frame-gradient fixed 
         bottom-0 
         left-1/2 -translate-x-1/2
         z-50 box-border
         border-2 border-gray-100 rounded-b-lg
         w-[99%] p-4 pb-[calc(1rem+env(safe-area-inset-bottom))]
         text-center"
  style="opacity:0; visibility:hidden;"
>

  <!-- MENU LINKS -->
  <div class="text-gray-100 text-2xl font-primary py-5 group">
    <a href="{% url 'badanie urodynamiczne' %}" class="group-hover:text-orange-300">
      {% trans 'Badanie urodynamiczne' %}
    </a>
  </div>
  <p class="border-b border-2 border-gray-100 w-[75%] mx-auto"></p>

  <div class="text-gray-100 text-2xl font-primary py-5 group">
    <a href="{% url 'procedury urologiczne' %}" class="group-hover:text-orange-300">
      {% trans 'Procedury urologiczne' %}
    </a>
  </div>
  <p class="border-b border-2 border-gray-100 w-[75%] mx-auto"></p>

  <div class="text-gray-100 text-2xl font-primary py-5 group">
    <a href="{% url 'pozostałe procedury' %}" class="group-hover:text-orange-300">
      {% trans 'Pozostałe procedury' %}
    </a>
  </div>
  <p class="border-b border-2 border-gray-100 w-[75%] mx-auto"></p>

  <div class="text-gray-100 text-2xl font-primary py-5 group">
    <a href="{% url 'strefa pacjenta' %}" class="group-hover:text-orange-300">
      {% trans 'Strefa pacjenta' %}
    </a>
  </div>
  <p class="border-b border-2 border-gray-100 w-[75%] mx-auto"></p>

  <div class="text-gray-100 text-2xl font-primary py-5 group">
    <a href="{% url 'badania kliniczne' %}" class="group-hover:text-orange-300">
      {% trans 'Badania kliniczne' %}
    </a>
  </div>
  <p class="border-b border-2 border-gray-100 w-[75%] mx-auto"></p>

  <div class="text-gray-100 text-2xl font-primary py-5 group">
    <a href="{% url 'kontakt' %}" class="group-hover:text-orange-300">
      {% trans 'Kontakt' %}
    </a>
  </div>
  <p class="border-b border-2 border-gray-100 w-[75%] mx-auto"></p>

  <!-- LANGUAGE FLAGS -->
  <div class="flex mx-auto w-[75%] items-center justify-center py-3 gap-3">
    
    <!-- LANGUAGE 1 - PL -->
    <form action="{% url 'set_language' %}" hx-post="{% url 'set_language' %}" hx-target="body" hx-redirect="true" hx-swap="outerHTML transition:true" hx-push-url="true">
      {% csrf_token %}
      <input type="hidden" name="language" value="pl">
      <button type="submit" class="bg-transparent border-none cursor-pointer">
        <img src="{% static 'icons/flag_round_pl.png' %}" alt="PL" class="w-8 h-8 rounded-full hover:scale-110 transition-all">
      </button>
    </form>

    <!-- LANGUAGE 2 - EN -->
    <form action="{% url 'set_language' %}" hx-post="{% url 'set_language' %}" hx-target="body" hx-redirect="true" hx-swap="outerHTML transition:true" hx-push-url="true">
      {% csrf_token %}
      <input type="hidden" name="language" value="en">
      <button type="submit" class="bg-transparent border-none cursor-pointer">
        <img src="{% static 'icons/flag_round_gb.png' %}" alt="EN" class="w-8 h-8 rounded-full hover:scale-110 transition-all">
      </button>
    </form>

    <!-- LANGUAGE 3 - UK -->
    <form action="{% url 'set_language' %}" hx-post="{% url 'set_language' %}" hx-target="body" hx-redirect="true" hx-swap="outerHTML transition:true" hx-push-url="true">
      {% csrf_token %}
      <input type="hidden" name="language" value="uk">
      <button type="submit" class="bg-transparent border-none cursor-pointer">
        <img src="{% static 'icons/flag_round_uk.png' %}" alt="UK" class="w-8 h-8 rounded-full hover:scale-110 transition-all">
      </button>
    </form>

  </div>
  <p class="border-b border-2 border-gray-100 w-[75%] mx-auto"></p>

  <!-- SEARCHBAR -->
  <div class="font-primary flex w-full justify-center pt-3">
    <div class="group w-[70%]">
      <form method="get" action="{% url 'wyszukaj' %}" class="w-full mx-auto">
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="relative">
          <input type="search" name="query" value="" id="default-search" 
                 class="block w-full p-4 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                 required />
          <button type="submit"
                  class="text-white absolute end-2.5 bottom-2.5 bg-green-800 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-green-700 dark:hover:bg-green-800 dark:focus:ring-white">
            <i class="ri-search-line"></i>&nbsp;&nbsp;{% translate 'Wyszukaj' %}
          </button>
        </div>
      </form>
    </div>
  </div>

</div>
