{% load static %}

<div id="form-message" class="hidden  ">
    
    <div class="px-4  my-7 flex flex-col justify-between h-full py-5">

        <h2 class=" my-2 text-4xl mb-11  text-center"">Wiadomość została wysłana</p>
            
            <i class="ri-checkbox-circle-line text-9xl text-green-700 mx-auto    "></i>
            
            
            
            
            <h2 class=" text-4xl  text-center -mt-2">Dziękujemy za kontakt</h2>
            
            
            
            
            <p class='my-2 py-3 mb-5 text-2xl mx-auto text-center'>Odpowiemy niezwłocznie</p>
    </div>
 
    <!-- <div class="bg-linear-to-tr  from-sky-900 to-slate-800 w-full rounded-md py-3">

        <p class='py-1 text-xl mx-auto text-orange-200 text-center'>W sprawach pilnych</p>
        <p class='py-1 text-xl mx-auto text-orange-200 text-center'>prosimy o kontakt</p>
        <p class='py-1 text-xl mx-auto text-orange-200 text-center'>telefoniczny pod numerem</p>
        <p class=' py-2 text-5xl mx-auto text-orange-200 text-center'>+22 750 16 10</p>
        
    </div> -->
</div>