
@font-face {font-family: 'Oswald'; 
  src: url('/static/fonts/Oswald-Regular.ttf') format('truetype'); 
  font-weight: 500;
  font-style: normal;
  font-display: swap; 
}

@font-face {font-family: 'DMSans Regular'; 
  src: url('/static/fonts/DMSans-Regular.ttf') format('truetype'); 
  font-weight: 400;
  font-style: italic;
  font-display: swap; 
}

@font-face {font-family: 'Nunito Medium'; 
  src: url('/static/fonts/Nunito-Medium.ttf') format('truetype'); 
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

@font-face {font-family: "OptimaPro"; 
  src: url('/static/fonts/OptimaNovaLTProTitlingInit.otf') format('opentype'); 
  font-weight: 400; 
  font-style: normal; 
  font-display: swap; 
} 

@font-face {font-family: "OptimaNovaLTProRegular"; 
  src: url('/static/fonts/OptimaNovaLTProRegular.otf') format('opentype'); 
  /* font-weight: 400; */
  /* font-style: normal; */
  font-display: swap; 
} 

@font-face {font-family: 'ppneue';
  font-style: normal;
  font-weight: normal;
  src:  url('/static/fonts/ppneuemontreal-medium.woff') format('woff');
  }


@import "tailwindcss";
@theme{
  --font-primary: 'Oswald', sans-serif;
  --font-secondary: 'DMSans Regular', sand-serif;
  --font-tertiary: 'Nunito Medium', sans-serif;

  --font-heureka-1: "OptimaPro", serif;
  --font-heureka-2: "OptimaNovaLTProRegular";
  --font-heureka-3:'ppneue', sans-serif;
}

.frame-gradient {
  @apply bg-linear-to-tr from-sky-900 to-slate-800
}

.frame-sizing{
  @apply w-[95%] xl:w-[80%] mx-auto;
}

.frame-h-divider{
  @apply hidden sm:block border-b-1 border-red-100 mx-auto
}

.footer-subtitle{
  @apply font-primary text-3xl  pb-2 mb-3 text-gray-300  lowercase
}

.footer-subtitle-point{
  @apply font-secondary text-2xl py-1 
}

@plugin "daisyui";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";
