
@font-face {font-family: 'Oswald'; 
  src: url('/static/fonts/Oswald-Regular.woff2') format('woff2'); 
  font-weight: 500;
  font-style: normal;
  font-display: swap; 
}

@font-face {font-family: 'DMSans Regular'; 
  src: url('/static/fonts/DMSans-Regular.ttf') format('truetype'); 
  font-weight: 400;
  font-style: italic;
  font-display: swap; 
}

@font-face {font-family: 'Nunito Medium'; 
  src: url('/static/fonts/Nunito-Medium.ttf') format('truetype'); 
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

@font-face {font-family: "OptimaPro"; 
  src: url('/static/fonts/OptimaNovaLTProTitlingInit.otf') format('opentype'); 
  font-weight: 400; 
  font-style: normal; 
  font-display: swap; 
} 

@font-face {font-family: "OptimaNovaLTProRegular"; 
  src: url('/static/fonts/OptimaNovaLTProRegular.otf') format('opentype'); 
  /* font-weight: 400; */
  /* font-style: normal; */
  font-display: swap; 
} 

@font-face {font-family: 'ppneue';
  font-style: normal;
  font-weight: normal;
  src:  url('/static/fonts/ppneuemontreal-medium.woff') format('woff');
  }


@import "tailwindcss";
@theme{
  --font-primary: 'Oswald', sans-serif;
  --font-secondary: 'DMSans Regular', sand-serif;
  --font-tertiary: 'Nunito Medium', sans-serif;

  --font-heureka-1: "OptimaPro", serif;
  --font-heureka-2: "OptimaNovaLTProRegular";
  --font-heureka-3:'ppneue', sans-serif;
}

.frame-gradient {
  @apply bg-linear-to-tr from-sky-900 to-slate-800
}

.frame-sizing{
  @apply w-[95%] xl:w-[80%] mx-auto;
}

.frame-h-divider{
  @apply hidden sm:block border-b-1 w-full border-red-100 mx-auto
}

.frame-h-divider-small{
  @apply block xl:hidden border-b-1 w-full border-red-100 mx-auto
}

.footer-subtitle{
  @apply font-primary text-3xl  pb-2 mb-3 text-gray-300  lowercase
}

.footer-subtitle-point{
  @apply font-secondary text-2xl py-1 
}

.bg-dynamic {
  @apply bg-cover bg-center;
  background-image: url("{% static 'images/paski.png' %}");
}

:root {
  /* --accent-1: #b1c0ef; */
  --accent-1: #F7F7F6;
  --accent-2: #f2acac;
  --accent-3: #fedd93;
  --accent-4: #81b7bf;
  --header-h: 0px;
}

.card {
  will-change: transform;
  transform: translateZ(0);
}

.card-inner {
  will-change: transform;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
 
.card-inner, .card-inner::after {
  backface-visibility: hidden;
}


.timeline-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.timeline-column {
  flex: 1 1 100%;
  max-height: 60vh; /* Adjusted for better space management */
  overflow-y: auto;
}
@media (min-width: 768px) {
  .timeline-column {
      flex: 1 1 calc(50% - 0.75rem);
  }
}






  .sticky-cards {
    position: relative;
    width: 100%;
    background-color: #94A3B8;
    
  }

 

 
  
  .card {
    position: sticky;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    perspective: 1000px;
   
  }

  .cdf {
    height: 100vh;
  }

  .cd {
    height: 100svh;
  }

  .cd-end {
    height: 49svh;
  }

  .card-inner {
    position: relative;
    width: 100%;
    height: 100%; 
    transform-origin: 50% 100%;
    will-change: transform;
    text-align: center;
    
  }
  
  
  
  .card-info {
    width: 25%;
    padding: 4em;
    text-align: left;
  }
  
  .card-info p {
    font-size: 0.9rem;
  }

  .card-title h1 {
    font-size: 10rem;
    padding: 2rem 0;
  }
  
  .card-description {
    width: 60%;
    margin: 0 auto 2em auto;
  }
  
  .card-description p {
    font-size: 1.5rem;
  }
  
  .card-img {
    width: 100%;
    height: 100%;
    margin-top: 4em;
    overflow: hidden;
  }

  .card-inner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: var(--after-opacity, 0);
    will-change: opacity;
    pointer-events: none;
    overflow: hidden;
    /* z-index: 2; */
  }
  
  @media (max-width: 1000px) {
   
    .card-info {
      width: 75%;
      margin: 0 auto;
      padding: 4em 2em;
      text-align: center;
    }
  
    .card-title h1 {
      font-size: 3rem;
    }
  
    .card-description p {
      font-size: 1.25rem;
    }
  }




@plugin "daisyui";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";
