{% load static %}
<footer id="footer" class="footer w-full frame-gradient z-20">

    <section class="frame-sizing z-20 ">
        <div class="grid grid-cols-1 xl:grid-cols-12 gap-5 py-7   w-full  ">

<!-- first column -->
            <div class=' z-20 col-span-4  '>
                <div class="flex gap-2 ">
                    <a href="/" class="flex gap-2 relative group justify-center md:justify-start items-center">
                        <img src="{% static 'icons/heureka_logo_3.png' %}" alt="" class="logo z-20 size-16 mb-2 -ml-2 justify-center drop-shadow-orange-500 shadow-2xl">
                        <h1 class=" font-heureka-2 text-5xl uppercase z-20 -ml-2">heureka</h1>
                    </a>
                </div>
            
                <div class="z-30">
                    <h3 class="font-tertiary text-gray-200 -mt-3  text-lg ">Ośrodek urologii czynnościowej</h3>
                    <h3 class="font-tertiary text-gray-200 my-1 mt-2  text-xl ">ulica Ludowa 5</h3>
                    <h3 class="font-tertiary text-gray-200 my-1  text-xl ">Piaseczno koło Warszawy</h3>
                
                </div>

                <div class=" flex flex-col h-[132px] justify-end ">
                    <button class="w-[55%] font-secondary font-bold cursor-pointer border-1 border-slate-700 shadow-sm shadow-slate-300 bg-slate-400 text-lg text-gray-700 rounded-md uppercase  p-3 py-1 my-2">Jak nas znaleźć</button>
                    <button class="w-[55%] font-secondary font-bold cursor-pointer border-1 border-slate-700 shadow-sm shadow-slate-300 bg-slate-400 text-lg text-gray-700 rounded-md uppercase  p-3 py-1 my-2">Kontakt</button>
                </div>

               
            </div>

<!-- second column -->

            <div class="col-span-4 mt-12 mr-11 -ml-12 border-r-2 border-l-2 border-red-100">
                <div class="">
                    <div class="  text-right flex flex-col items-center">
                        
                        <p class="text-4xl font-heureka-2 mt-5 py-1  ">Ośrodek czynny</p>
                        <p class="text-3xl font-heureka-2 mt-1 py-1 ">od poniedziałku do piątku</p>
                        <p class="text-3xl font-heureka-2 py-1  ">w godzinach</p>
                        <h1 class="text-5xl font-heureka-2 mt-1 ">9:00 - 17:00</h1>
                     </div>
                    </div>

            </div>

            <div class="col-span-4 w-full mt-5    ">
                <div class="">
                    <div class=" flex flex-col  justify-center items-center ">
                        <h1 class="font-heureka-2 text-5xl py-5 uppercase ">Zapisy</h1>
                        <p class="text-5xl font-heureka-2  text-orange-200 hover:text-gray-200">+48 22 750 61 10</p>
                        <p class="font-heureka-2 text-5xl py-5 uppercase">lub</p>
                        <p class="text-5xl font-heureka-2   text-orange-200 hover:text-gray-200">+48 600 401 106</p>
                     </div>
                    </div>

            </div>


            


                     

                 

                     

              


        </div>
       

        <div class="frame-h-divider"></div>

        <!-- footer's info grid -->
        

        <div class="w-full text-center ">
            <div class=" font-heureka-2  uppercase text-lg p-3">&#169; Heureka {% now 'Y' %}</div>

        </div>
        

    </section>
</footer>