
{% load static  %}
{% load i18n %}



<header id="header" class="w-full fixed top-0 frame-gradient z-20">
    <section class="frame-sizing relative  header-inner">
<!-- HEADER TITLE GROUP -->
    <div class="   title-group">
<!-- LOGO & NAME -->
        <div class="p-5 ">
            <div class="title flex gap-2  justify-center sm:justify-start items-center">
                <a href="" class="flex gap-2 relative group justify-center md:justify-start items-center">
                    <img src="{% static 'icons/heureka_logo_3.png' %}" alt="" class="logo z-20 size-14 mb-2 justify-center drop-shadow-orange-500 shadow-2xl">
                    <h1 class="title1 font-heureka-2 text-6xl text-gray-50  text-shadow-2xs text-shadow-green-700 uppercase z-20">heureka</h1>
                    <!-- light blob -->
                    <div  class="sh1 rounded-full absolute -left-1  bg-pink-100 blur-xl z-1 hover:delay-150 transition duration-300 ease-in-out flex-none w-[55px] h-[55px]"></div>
                   <div  class="sh2 rounded-full absolute -left-1  bg-sky-500 blur-xl z-1 hidden  group-hover:inline  flex-none w-[75px] h-[55px]"></div>
                    </a>
            </div>

           

        <!-- sub name -->
            <div class="subheader sample-transition">
                <h3 id="roo" class=" font-tertiary text-gray-200 pt-2 text-xl">{% trans 'Ośrodek urologii czynnościowej' %}</h3>
                <h3 id="roo" class="text-gray-100  text-2xl font-primary">{% trans 'Pawła Szaleckiego' %}</h3>
            </div>
        </div>
    </div> 
    
    {% include 'elements/languages.html' %}
    {% include 'elements/searchbar.html' %}
        
    <div class="frame-h-divider "></div>
    
<!-- #navbar links -->
        <ul class="hidden sm:flex sm:text-white justify-around font-semibold py-3 mx-auto transition-all ">
            <li class="mr-2">
                <div class="sample-transition-2">
                    <a href="{% url 'badanie urodynamiczne' %}" class="flex group items-center">
                        <h2 class=" nsd uppercase text-md flex group-hover:text-orange-300">
                            <img src="{% static 'icons/heureka_logo_3.png' %}" class=" hidden sm:block  sm:size-4 sm:mt-1 xl:mt-0 xl:size-5 mr-1 transition-all group-hover:rotate-[47deg]  " alt="">
                            {% trans 'Badanie urodynamiczne' %}
                        </h2>
                    </a>
                </div>
            </li>
            <li class="mr-2 ">
                <div class="sample-transition-1">
                    <a href="{% url 'procedury urologiczne' %}" class="flex group items-center">
                        <h2 class="nsd uppercase text-md flex group-hover:text-orange-300">
                            <img src="{% static 'icons/heureka_logo_3.png' %}" class=" hidden sm:block  sm:size-4 sm:mt-1 xl:mt-0 xl:size-5 mr-1 transition-all group-hover:rotate-[47deg]  " alt="">
                            {% trans 'Procedury urologiczne' %}
                        </h2>
                    </a>
                </div>
            </li>
            <li class="mr-2 hidden md:flex">
                <div class="sample-transition-3">
                    <a href="{% url 'pozostałe procedury' %}" class="flex group items-center">
                        <h2 class="nsd uppercase text-md flex group-hover:text-orange-300">
                            <img src="{% static 'icons/heureka_logo_3.png' %}" class=" hidden sm:block  sm:size-4 sm:mt-1 xl:mt-0 xl:size-5 mr-1 transition-all group-hover:rotate-[47deg]  " alt="">
                            <div class="relative inline-block text-left group">
                                
                                <a href="{% url 'pozostałe procedury' %}" class="hover:text-orange-200">{% trans 'Pozostałe procedury' %}</a>
                                
                                
                             
                              <div 
                                class="bg-green-700 z-50 rounded-r-md origin-top-left absolute -left-6  mt-5 delay-250 group-hover:delay-0 group-hover:z-10 w-68   opacity-0 scale-95 transform transition-all duration-200 ease-out group-hover:opacity-100 group-hover:scale-100"
                              >
                                <div class=" flex flex-col pl-2   bg-linear-to-tr from-sky-900 to-slate-800 justify-start text-md uppercase ml-3 rounded-r-md ">
                                  <a href="{% url 'procedury kardiologiczne' %}" class=" pt-3 py-1  hover:text-orange-200">Procedury kardiologiczne</a>
                                  <a href="{% url 'procedury medyczne' %}" class="  py-1 hover:text-orange-200 ">Procedury medyczne</a>
                                  <a href="{% url 'pakiety' %}" class="pb-3  py-1  hover:text-orange-200 ">Pakiety</a>
                                </div>
                              </div>
                            </div>
                        </h2>
                    </a>
                </div>
            </li>
            <li class="mr-2 hidden md:flex">
                <div class="sample-transition-4">
                    <a href="#" class="flex group items-center">
                        <h2 id='troo' class="nsd uppercase text-md  flex group-hover:text-orange-300">
                            <img src="{% static 'icons/heureka_logo_3.png' %}" class=" hidden sm:block  sm:size-4 sm:mt-1 xl:mt-0 xl:size-5 mr-1 transition-all group-hover:rotate-[47deg]  " alt="">
                            <div class="relative inline-block text-left group">
                                
                                {% trans 'strefa pacjenta' %}
                                  
                                  
                               
                                <div 
                                  class="bg-green-700 z-50 rounded-r-md origin-top-left absolute -left-2  mt-5 w-45 delay-250 group-hover:delay-0   opacity-0 scale-95 transform transition-all duration-200 ease-out group-hover:opacity-100 group-hover:scale-100"
                                >
                                  <div class=" flex flex-col pl-2   bg-linear-to-tr from-sky-900 to-slate-800 justify-start text-md uppercase ml-3 rounded-r-md ">
                                    <a href="{% url 'do pobrania' %}" class=" pt-3 py-1  hover:text-orange-200">Do pobrania</a>
                                    <a href="{% url 'profilaktyka' %}" class="  py-1 hover:text-orange-200 ">Profilaktyka</a>
                                    <a href="{% url 'pakiety' %}" class="pb-3  py-1  hover:text-orange-200 ">Pakiety</a>
                                  </div>
                                </div>
                              </div>
                              
                        </h2>
                    </a>
                </div>
            </li>
            <li class="mr-2">
                <div class="sample-transition-5" id="foo">
                    <a href="{% url 'badania kliniczne' %}" class="flex group items-center">
                        <h2  class="nsd uppercase text-md flex group-hover:text-orange-300">
                            <img src="{% static 'icons/heureka_logo_3.png' %}" class=" hidden sm:block  sm:size-4 sm:mt-1 xl:mt-0 xl:size-5 mr-1 transition-all group-hover:rotate-[47deg]  " alt="">
                            {% trans 'Badania kliniczne' %}
                        </h2>
                    </a>
                </div>
            </li>
        </ul>
    </section>
</header>

<script>
    document.addEventListener('htmx:beforeSwap', (e) => {
      const el = document.getElementById('roo');
      el.classList.add('fade-out');
    });
    
    document.addEventListener('htmx:afterSwap', (e)=> {
        const el = document.getElementById('roo');
      el.classList.remove('fade-out');
      el.classList.add('fade-in');
    });
    </script>