{% load static  %}
{% load i18n  %}
<div class="lang hidden px-5 sm:flex sm:absolute sm:top-8 sm:right-1 transition-all">
    
    <!-- LANGUAGE 1 -->
    <div id="lang1">
        <form action="{% url 'set_language' %}" hx-post="{% url 'set_language' %}" hx-target="body" hx-redirect="true" hx-swap="outerHTML transition:true" hx-push-url="true"  style="display:inline;">
            
            {% csrf_token %}
            <input type="hidden" name="language" value="pl">
            <button type="submit" style="background:none; border:none; cursor:pointer;">
                <img  src="{% static 'icons/flag_round_pl.png' %}" alt="" class="mask-b-from-30% mask-radial-[50%_90%] mask-radial-from-80% hover:mask-none hover:transition-all">
            </button>
        </form>
    </div>

    <!-- LANGUAGE 2 -->
    <div id="lang2">
        <form action="{% url 'set_language' %}" hx-post="{% url 'set_language' %}" hx-target="body" hx-redirect="true" hx-swap="outerHTML transition:true" hx-push-url="true"  style="display:inline;">
            {% csrf_token %}
            <input type="hidden" name="language" value="en">
            <button type="submit" style="background:none; border:none; cursor:pointer;">
                <img  src="{% static 'icons/flag_round_gb.png' %}" alt="" class="mask-b-from-30% mask-radial-[50%_90%] mask-radial-from-80% hover:mask-none hover:transition-all">
            </button>
        </form>
    </div>

    <!-- LANGUAGE 3 -->
    <div id="lang3">
        <form action="{% url 'set_language' %}" hx-post="{% url 'set_language' %}" hx-target="body" hx-redirect="true" hx-swap="outerHTML transition:true" hx-push-url="true"  style="display:inline;">

        {% csrf_token %}
            <input type="hidden" name="language" value="uk">
            <button type="submit" style="background:none; border:none; cursor:pointer;">
                <img  src="{% static 'icons/flag_round_uk.png' %}" alt="" class="mask-b-from-30% mask-radial-[50%_90%] mask-radial-from-80% hover:mask-none hover:transition-all">
            </button>
        </form>
    </div>
</div>