{% load static %}
{% load i18n %}

<div id="contact-form-open-button " 
            onclick="openContact('#contact-modal')"  
            class="z-60 hidden xl:flex xl:fixed bottom-10 right-0 shadow-lg shadow-green-200 bg-gradient-to-tr from-sky-900 to-slate-800 size-[160px] rounded-l-full justify-end items-center text-white text-center">
        <div class="relative group -p-2 bg-gradient-to-tr from-sky-900 to-slate-800 border-t-3 border-b-3 border-l-3 border-r-0 border-gray-400 size-[151px] rounded-l-full xl:flex justify-end items-center text-white text-center">
            <div  class=" group items-right text-gray-200">
                  <i class="ri-mail-line text-8xl mr-1 font-thin "></i>
                  <p id="roo" class="sample-transition-6 font-bold uppercase  -ml-2">{% trans 'Napisz do nas' %}</p>
            </div>
        </div>
</div>d


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css" integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA==" crossorigin="anonymous" referrerpolicy="no-referrer" />